@model StaffIndexViewModel

<div class="section row">
    <div class="col s12">
        <div class="l-main">

            <div class="page-header">
                <h5>Your Assigned Child</h5>
            </div>
            <div class="page-description">
                Here are all of the children that you have access to in our system. Choose one of the children
                from the list below to add notes, see activity and more.
            </div>
            <div class="child-grid">
                <div class="row">
                    @foreach (var assignment in Model.StaffMember.ChildAssignments)
                    {

                        <div class="child-cell col s6 m3">
                            <a asp-controller="Staff" asp-action="TimeLine" asp-route-id="@assignment.ChildId">
                                <i class="material-icons dp48">perm_identity</i>
                                <span>@($"{assignment.Child.FirstName} {assignment.Child.LastName}")</span>
                            </a>
                        </div>

                    }
                </div>
            </div>
        </div>

    </div>
</div>


<div class="section row" style="margin-bottom: 40px">
    <div class="col s12">
        <div class="l-main">

            <div class="page-header">
                <h5>All the Day Care Children</h5>
            </div>
            <div class="page-description">
                Here are all of the children that are currently active in our system. Your level of access
                to each child will vary based on your credentials.
            </div>
            <div class="child-grid">
                <div class="row">
                    @foreach (var child in Model.Children)
                    {

                    <div class="child-cell col s6 m3">
                        <a asp-controller="Staff" asp-action="TimeLine" asp-route-id="@child.Id">
                            <i class="material-icons dp48">perm_identity</i>
                            <span>@($"{child.FirstName} {child.LastName}")</span>
                        </a>
                    </div>

                    }
                </div>
            </div>
        </div>

    </div>
</div>



