

            <div class="section row">
                <div class="col s12 m9 left">
                    <div class="l-main">
                        Hi
                        <br /><br /><br />
                        <br /><br /><br />
                        <br /><br /><br />
                        <br /><br /><br />
                        <br /><br /><br />
                        <br /><br /><br />
                        <br /><br /><br />
                        <br /><br /><br />
                    </div>

                </div>
                <div class="col s12 m3 right">
                    <div class="l-side">
                        There
                        <br /><br /><br />
                        <br /><br /><br />
                        <br /><br /><br />
                        <br /><br /><br />
                        <br /><br /><br />
                        <br /><br /><br />
                        <br /><br /><br />
                        <br /><br /><br />
                    </div>
                </div>
            </div>

 
