<div id="error-page">


    <div class="col s12 z-depth-4 card-panel">
        <div class=" center">
            <h1>Denied Entry</h1>
            <h3>Sorry Buddy! You you'e not allowed in this area.</h3>
        </div>
    </div>


</div>