<div id="error-page">
    
        
            <div class="col s12 z-depth-4 card-panel">
                <div class=" center">
                    <h1>500</h1>
                    <h3>Oh Oh .... Well that's not good :(</h3>
                </div>
            </div>
        
    
</div>