html, body {
    height: 100%;
}

body {
    background-color: #f5f5f5;
}

.login-container {
    display: table;
    margin: auto;
    height: 80%;
    width: 50%;
}


    .login-container > div {
        display: table-cell;
        vertical-align: middle;
    }

    .login-container .input-field {
        margin-top: 0;
    }

    .login-container span.field-validation-error {
        color: red;
        font-size: 11px;
        position: absolute;
        right: 12px;
        top: 48px;
    }

    .login-container .card.red.validation-summary-errors {
        padding: 1px 0;
        margin: 0;
        color: #ffffff;
    }

        .login-container .card.red.validation-summary-errors ul {
            margin: 5px;
        }

.l-container {
    height: 100%;
}

.l-main, .l-side {
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    background-color: white;
}

.logout.btn-flat {
    color: #ffffff;
}

#error-page {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 276px;
}

/*** Overrides ***/

.navbar-fixed {
    height: 45px;
}

nav {
    height: 45px;
    line-height: 45px;
}

    nav .brand-logo {
        font-size: 1.8rem;
    }
